*.pyc

*.o

*.class

*.log

*.sqlite3
*.rdb

*lats.bin
*lats.txt

tailbench-data/*
tailbench-scratchData/*
data-generator/
dataset/
scratch/
shore-kits/
shore-mt/
models/
.lib/

jdk-8u171-linux-x64.tar.gz

xapian-core-1.2.13BASE/
